In [1]:
import pandas as pd

In [2]:
lst=[1,2,3,4,5]
pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
# two dimensional list and series
pd.Series([lst,lst,lst])

0    [1, 2, 3, 4, 5]
1    [1, 2, 3, 4, 5]
2    [1, 2, 3, 4, 5]
dtype: object

In [14]:
df=pd.DataFrame([lst,lst,lst],columns=['First','Second','Third','Fourth','Fifth']) #adding colums
df

   First  Second  Third  Fourth  Fifth
0      1       2      3       4      5
1      1       2      3       4      5
2      1       2      3       4      5

In [15]:
type(df) #type of df is DataFrame

pandas.core.frame.DataFrame