In [113]:
import pandas as pd

In [114]:
df=pd.read_csv("Text.csv")

In [115]:
df.isnull().sum()

Text Documents    0
Label             0
dtype: int64

In [116]:
df.dropna()

                           Text Documents Label
0                    I love this sandwich   pos
1                This is an amazing place   pos
2      I feel very good about these beers   pos
3                    This is my best work   pos
4                    What an awesome view   pos
5           I do not like this restaurant   neg
6                I am tired of this stuff   neg
7                  I can't deal with this   neg
8                    He is my sworn enemy   neg
9                     My boss is horrible   neg
10               This is an awesome place   pos
11  I do not like the taste of this juice   neg
12                        I love to dance   pos
13      I am sick and tired of this place   neg
14                   What a great holiday   pos
15         That is a bad locality to stay   neg
16         We will have good fun tomorrow   pos
17       I went to my enemy's house today   neg

In [117]:
df.head()

                       Text Documents Label
0                I love this sandwich   pos
1            This is an amazing place   pos
2  I feel very good about these beers   pos
3                This is my best work   pos
4                What an awesome view   pos

In [118]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [119]:
df.Label=df.Label.map({'pos':1,'neg':0})

In [120]:
df.head(7)

                       Text Documents  Label
0                I love this sandwich      1
1            This is an amazing place      1
2  I feel very good about these beers      1
3                This is my best work      1
4                What an awesome view      1
5       I do not like this restaurant      0
6            I am tired of this stuff      0

In [121]:
X=df['Text Documents']
y=df['Label']

In [122]:
from sklearn.feature_extraction.text import CountVectorizer

In [123]:
cv=CountVectorizer()

In [124]:
X=cv.fit_transform(X)

In [125]:
x_train, x_test,y_train, y_test=train_test_split(X,y, random_state=42)

In [126]:
model=MultinomialNB()

In [127]:
model.fit(x_train, y_train)

MultinomialNB()

In [128]:
from sklearn import metrics
score=model.score(x_test,y_test)
print("Accuracy: ", score)
predicted=model.predict(x_test)
print("Precision: " , metrics.precision_score(y_test,predicted))
print("Recall: " , metrics.recall_score(y_test,predicted))

Accuracy:  0.8
Precision:  1.0
Recall:  0.6666666666666666

In [129]:
new_text = "I am Sad"
new_features = cv.transform([new_text])
prediction = model.predict(new_features)
if prediction[0]==1:
    print ("Positive")
else:
    print ("Negative")

Negative